.list-item {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
